#header1-39 H1 {
  font-size: 36px;
  color: #b8312f;
  text-align: center;
}
#header1-39 P {
  color: #d14841;
}
#header1-39 B {
  text-align: right;
  font-size: 25px;
  color: #b8312f;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-brand__name a {
  font-size: 36px;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#msg-box4-9 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-9 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-9 .mbr-article H3 {
  color: #553982;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#content4-17 .mbr-section__col .mbr-header__text {
  text-align: center;
  font-size: 16px;
  color: #000000;
}
#content4-17 .mbr-section-title .mbr-header__text {
  color: #000000;
}
#content4-17 P {
  color: #000000;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#msg-box4-23 .mbr-header__text {
  color: #f97352;
  font-size: 36px;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-article P {
  color: #f97352;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#features1-34 .mbr-section-title .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#features1-34 P {
  color: #ffffff;
}
#features1-34 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-35 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-35 P {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#msg-box4-39 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-39 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-39 .mbr-article {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#content5-40 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-40 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-40 .mbr-article {
  color: #fff;
}
#content5-40 .mbr-article P {
  text-align: center;
  font-size: 17px;
}
#content5-40 .mbr-article H1 {
  text-align: center;
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#testimonials1-55 .mbr-section__header {
  font-size: 48px;
  color: #f97352;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#slider-43 H1 {
  font-size: 48px;
  color: #b8312f;
  text-align: center;
}
#slider-43 B {
  color: #ffffff;
  text-align: right;
  font-size: 24px;
}
#slider-43 P {
  color: #ffffff;
  font-size: 30px;
}
#slider-43 SPAN {
  text-align: left;
  color: #ffffff;
  font-size: 30px;
}
#features1-45 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-brand__name a {
  font-size: 32px;
}
#ext_menu-8 .mbr-navbar__items a {
  font-size: 15px;
}
#content5-45 .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}
#content5-45 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-45 .mbr-article {
  color: #fff;
}
#content5-45 .mbr-article P {
  color: #ffffff;
  text-align: center;
}
#content5-45 .mbr-article H1 {
  text-align: center;
  font-size: 36px;
  color: #ffffff;
}
#content5-45 .mbr-article H2 {
  text-align: center;
  color: #ffffff;
}
#content5-45 .mbr-article DIV {
  font-size: 17px;
  color: #ffffff;
  text-align: center;
}
#content5-47 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-47 .mbr-article {
  color: #fff;
}
